h1{

font-size: 80px;


}

body{

    font-family: 'Poppins', sans-serif;

    margin: 0%;

}

.orange{

color:orange ;

}

section {

display: flex;

margin-bottom: 200px;




}

.iw {

width: 50%;

padding: %;

}


.tw {

    padding-left: 50px;
width: 50%;


}

.link {

text-decoration: none;
background-color: orange;
background-image:linear-gradient(orange tomato);
padding: 10px 40px;
color: white;
font-size: larger;
border-radius: 10%;


}

.top{

background-image: url(images/top-banner.png);

}


.middle {

background-image: url(images/dream-bg.png);

background-repeat: no-repeat;
background-position: right;


}


.bottom {

display: flex;
width: 98%;
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
}


.b1{

width: 100%;
box-shadow: 10px 10px 40px rgb(27, 26, 18);
margin-right: 50px;
margin-left: 50px;
padding: 25px 20px;
border-left: 7px solid orange;


}

.b2{

width: 100%;
box-shadow: 10px 10px 40px rgb(27, 26, 18);
l
margin-left: 50px;
padding: 25px 20px;
border-left: 7px solid blue;

}

.head {

font-size:40px ;


}

footer p{

text-align: center;

}